$main-color: #2980f2;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $main-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-container {
  width: 40%;
  border-radius: 10px;
  padding: 30px;

  .title {
    text-align: center;
    margin: 0 0 25px;
    color: #fff;
  }

  .add-task {
    position: relative;
    input {
      display: inline-block;
      padding: 10px 15px;
      border: none;
      width: 100%;
      border-radius: 5px;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
    .plus {
      position: absolute;
      height: 43px;
      width: 43px;
      right: 0;
      line-height: 43px;
      text-align: center;
      color: $main-color;
      cursor: pointer;
      font-size: 38px;
      transition: transform 0.3s;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
  .tasks-content {
    padding: 15px;
    .no-tasks-message {
      color: #777;
      font-size: 15px;
    }
    & > span {
      display: block;
      background-color: #fff;
      padding: 10px;
    }
    & > span:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .task-box {
    .delete {
      float: right;
      background-color: #f24444;
      padding: 4px 10px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.finished {
  text-decoration: line-through;
}

.task-stats {
  overflow: hidden;
  width: 35%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;

  .tasks-count,
  .tasks-completed {
    width: 50%;
    padding: 10px;
    color: #fff;
    span {
      padding: 1px 5px;
      font-size: 12px;
      border-radius: 4px;
      font-weight: bold;
    }
  }
  .tasks-count {
    span {
      background-color: #03a9f4;
    }
  }
  .tasks-completed {
    text-align: right;
    span {
      background-color: #7dbf4e;
    }
  }
}
