doctype html
html
  head
    include includes/head.pug
  body
    .todo-container
      h1.title To-Do List
      .add-task
        input.text
        span.plus +
      .tasks-content
        span.no-tasks-message No tasks to show
    .task-stats
      .tasks-count Tasks <span>0</span>
      .tasks-completed Completed <span>0</span>

  script(src="../js/master.js")